﻿@model Presentations.NHibernate.Web.Models.RosterViewModel

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            @if (Model.CurrentPlayers != null && Model.CurrentPlayers.Any())
            {
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birth Date</th>
                            <th>Height</th>
                            <th>Weight</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var player in Model.CurrentPlayers)
                        {
                            <tr>
                                <td>@player.Name</td>
                                <td>@player.BirthDate</td>
                                <td>@player.Height</td>
                                <td>@player.Weight</td>
                                <td>@Html.ActionLink("Remove from roster", "Remove", new { teamId = Model.Team.Id, playerId = player.Id})</td>
                            </tr>
                        }
                    </tbody>    
                </table>
            }
            else
            {
                <div>No Players currently on this Roster</div>
            }
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Available Players:</h3>
        <ul>
            @foreach (var player in Model.AvailablePlayers)
            {
                <li>
                    @player.Name <strong>Height:</strong> @player.Height <strong>Weight: </strong>@player.Weight
                    @Html.ActionLink("Add to Roster", "Add", new { teamId = Model.Team.Id, playerId = player.Id})
                </li>
            }
        </ul>
    </section>
</div>