﻿<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Winnipeg .NET User Group</h1>
                <h2>Fantasy Football</h2>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Top 10 Teams:</h3>
        @{
            Html.RenderAction("Top", "Teams", new { Count = 10 });
        }
    </section>
</div>
