﻿@model Presentations.NHibernate.Persistence.Models.Team

<section class="content-wrapper main-content clear-fix">
    @{
        Html.BeginForm("Save", "Teams", FormMethod.Post);
    }
    
    @Html.HiddenFor(x => x.Id)

    @Html.LabelFor(x => x.Name)
    @Html.EditorFor(x => x.Name)
    
    @Html.DropDownListFor(t => t.Conference.Id, ViewBag.Conferences as IEnumerable<SelectListItem>)

    <button type="submit">Save</button>

    @{
        Html.EndForm();
    }
</section>
