﻿@model IEnumerable<Presentations.NHibernate.Persistence.Models.Team>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Conference</th>
            <th>Roster</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var team in Model)
{
    <tr>
        <td>@team.Name</td>
        <td>@team.Conference.Name</td>
        <td>@Html.ActionLink("View", "Index", "Rosters", team, null)</td>
        <td>@Html.ActionLink("Edit", "Edit", team)</td>
        <td>@Html.ActionLink("Delete", "Delete", team)</td>
    </tr>
}
    </tbody>
</table>
