﻿@model IEnumerable<Presentations.NHibernate.Persistence.Models.Team>

<section class="content-wrapper main-content clear-fix">
    <section class="warning-message-container clear-fix">
        @if (!string.IsNullOrWhiteSpace(ViewBag.Message))
        {
            <div class="message-success">
                @ViewBag.Message
            </div>
        }
    </section>

    @Html.ActionLink("New", "Create")
    @{
        Html.RenderPartial("_List", Model);
    }
</section>